{% extends "base_generic.html" %}

{% block content %}

<h1>zkTap</h1>
<p>Welcome to <em>zkTap</em>, a very basic Django website developed for <em>ECE 445: Senior Design</em>!</p>

<h2>Dynamic content</h2>
<p>The catalog has the following record counts:</p>
<ul>
    <li><strong>Doors:</strong> {{ num_doors }}</li>
    <li><strong>Users:</strong> {{ num_users }}</li>
<ul>

    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}