{% extends "base_generic.html" %}

{% block content %}

{{ external_input.input_auth }}

{% if external_input.input_auth == '-1' %}
<div class="alert alert-light">
    <strong>Peaceful... {{ external_input.input_auth }}</strong> Nothing is happening.
</div>

{% elif input_auth == '0' %}
<div class="alert alert-danger">
    <strong>Danger! {{ input_auth }}</strong> This alert box indicates a dangerous or potentially negative action.
</div>

{% elif input_auth == '1' %}
<div class="alert alert-success">
    <strong>Success! {{ input_auth }}</strong> Indicates a successful or positive action.
</div>
{% endif %}

<h1>zkTap</h1>
<p>Welcome to <em>zkTap</em>, a very basic Django website developed for <em>ECE 445: Senior Design</em>!</p>

<h2>Dynamic content</h2>
<p>The catalog has the following record counts:</p>
<ul>
    <li><strong>Doors:</strong> {{ num_doors }}</li>
    <li><strong>Users:</strong> {{ num_users }}</li>
<ul>

    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}