{% extends "base_generic.html" %}

{% block content %}
    <h1>Door List</h1>
    {% if door_list %}
        <ul>
            <table>
                <thead>
                <th>Door Name</th>
                <th>Location</th>
                {% if user.is_authenticated and not user.is_superuser %}
                    <th>Status</th>
                {% endif %}
                </thead>
                <tbody>
                {% for door in door_list %}
                    <tr>
                        <td><a href="{{ door.get_absolute_url }}">{{ door.door_name }}</a></td>
                        <td>{{ door.location }}</td>
                        <td>
                            {% if user.is_authenticated and not user.is_superuser %}
                                {% if door.request %}
                                    {{ door.request.get_status_display }}
                                {% else %}
                                    <a href="{% url 'door-request' door.id %}">Request</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </ul>
    {% else %}
        <p>There are no door in the collection.</p>
    {% endif %}
{% endblock %}